<?xml version="1.0" encoding="UTF-8"?>
<!--Config used to run tests that do NOT need the app running NOR Database Fixtures-->

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
        colors="true"
        forceCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="RootTestSuite">
            <directory suffix="Test.php">../tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="-1" />
    </php>
</phpunit>
